Flask==3.1.2
numpy==2.3.2
pandas==2.3.1
python-dotenv==1.2.1
joblib==1.5.1
scikit-learn==1.7.1
pytest==8.4.1
requests==2.32.4
playwright==1.57.0
streamlit==1.49.1
PyYAML==6.0.3
matplotlib==3.10.5
networkx==3.6.1
scipy==1.16.1
statsmodels==0.14.5
