.card-body { min-height: 120px; }

/* For Animated List */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.transaction-item {
    animation: fadeIn 0.5s ease-in-out;
}
